body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Poppins', sans-serif, roboto;
}

/* showcase */

.showcase {
background: linear-gradient( rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(img/arun-anapparakkal-6Lrw9XXfIQU-unsplash.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 650px;
color: #fff;
}


/* nav */

.main{
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
    gap: 50em;
}

.logo{
    color: #fff;
    /* padding: 0 40px; */
    margin: 10px 0 0 30px;
}



.navbar ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 40px 0 0 20px;
}

.navbar li{
    /* padding-right: 20px; */
    /* margin: 20px 0 0 10px; */
    
    
}

.navbar a{
    text-decoration: none;
    color: #edf2f4;
    font-size: 18px;
    font-weight: 500;
    
}
.navbar a:hover{
    text-decoration: none;
    color: #8d99ae;
}

 .navbar .active{
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
}

/* showcase */

.showcase-content{
    padding-left: 250px;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
;
    
}
.show-text{
    padding: 0;
    margin: 0;
    max-width: 700px;
    
    
}


.show-text h1{
    
        font-size: 30px;
        line-height: 1.5em;

}


.show-text p{
    font-size: 20px;
    color: #8d99ae;
    padding: 5px 0 20px 0;
    line-height: 1.5em;
    }

button{
    font-size: 18px;
    background: rgba(129, 13, 13, 0); 
    color: #fff;
    padding: 10px 20px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 25px 25px 25px 25px;
}

button:hover{
    
    background: #b8c0ff;
    border: 3px solid #b8c0ff;
    
}

.show-img img{
    border: 15px solid rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    width: 450px;
}

/* about*/

.wrapping{
   text-align: center;
   align-content: center;
   padding: 100px 200px;
}
.wrapping h1{
   font-size: 16px;
   /* font-weight: 500; */
   color: #222;
   
}
.wrapping p{
   font-size: 1.1rem;
   color: #948daa;


}

.content-wrap{
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    gap: 15px;
    margin-top: 70px;
}

.wrap{
    border: 1px solid rgba(117, 115, 115, 0.399);
    border-radius: 10px;
    padding: 30px 50px;
    transition: transform 0.5s;
}

.wrap:hover{
   transform: scale(0.97);
}

.wrap-img{
        width: 350px;
        border-radius: 15px;
}

.wrap h3{
   font-size: 28px;
   font-weight: 500;
   color: #222;
}

.wrap p{
   font-size: 18px;
   font-weight: 300;
   color: #615978;
}

/* service*/

.service{
    background-color: #f3f3f3;
    text-align: center;
}

.service  .wrap{
    background-color: #fff;
    border: 1px solid #fff;
    color: #615978;
    /* transition: transform 0.5s; */
}

.service  .wrap:hover{
    background-color: #b8c0ff;
    border: 1px solid #b8c0ff;
    color: rgb(255, 255, 255) !important;
    /* transform: scale(0.97);  */
}

.service  .wrap:hover h3{
    color: rgb(255, 255, 255);
}

.service  .wrap:hover p{
    color: rgb(255, 255, 255);
}

/* resume*/

.resume{
    
    background: linear-gradient( rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.9)),
    url(img/bg1.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;
}

.resume h2{
    color: rgb(255, 255, 255);
}

.resume p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
}

/* footer*/

.contant-wrap{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 0;
}

.social-wrap{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px 0;
}